<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3 footer-col-summary">
        <p>
          I am a web developer based in Denmark.
          <br>
          Here I'll share my ideas, thoughts and experiences mainly about building software.
        </p>
      </div>

      <div class="footer-col footer-col-right">
        {%- include social.html -%}
      </div>

    </div>

  </div>

</footer>
